<mat-card>
  <h3 style="text-align: center; margin-top: 20px;">Profile Details</h3>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">

        <div class="container text-center">
          <img src="/assets/profile-icon.jpg" alt="profile image"
            style="width: 150px; height: 150px; border-radius: 50%; margin-top: 10px;">
          <h4 style="margin-top: 20px;">{{currentUser.firstName}}  {{currentUser.lastName}}</h4>
        </div>

         <!-- Simple Profile Details Table -->
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <table>
            <tr>
              <th>Field</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>User ID</td>
              <td>{{currentUser.userId}}</td>
            </tr>
            <tr>
              <td>Username</td>
              <td>{{currentUser.username}}</td>
            </tr>
            <tr>
              <td>Role</td>
              <td>{{currentUser.role}}</td>
            </tr>
            <tr>
              <td>FirstName</td>
              <td>{{currentUser.firstName}}</td>
            </tr>
            <tr>
              <td>LastName</td>
              <td>{{currentUser.lastName}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{currentUser.email}}</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td>{{currentUser.phoneNumber}}</td>
            </tr>
          </table>
        </div>
      </div>
      


      </div>
    </div>

  </mat-card-content>
</mat-card>