<mat-toolbar>
  <a routerLink="/login">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </a>

  <span>Exam Portal</span>
  <span class="example-spacer"></span>

  <a *ngIf="!isLoggedIn()"  routerLink="/registration" style="text-decoration: none;">
    <button class="icon-button" >
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </button>
  </a>

  
  <a *ngIf="!isLoggedIn()"  routerLink="/login" style="text-decoration: none;">
    <button class="icon-button">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
  </a>

  <a>
  <button *ngIf="isLoggedIn()" (click)="logout()" class="icon-button">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</a>


</mat-toolbar>