<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <mat-card >
                <div class="container text-center" >
                    <img src="./assets/logo.webp" alt="Exam Portal Logo"
                        style="width: 150px; height: 150px; border-radius: 50%; margin-top: 10px;">
                </div>
                <h2 class="registerTitle">Register Here....!</h2>


                <form  #myForm="ngForm"  style="margin-top: 20px;" (ngSubmit)="formSubmit(myForm)" autocomplete="off">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="user.userName" name="userName" matInput type="text"
                            placeholder="Enter your username" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="user.password" name="userPass" matInput
                            [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password" autocomplete="off" required/>
                        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select [(ngModel)]="user.role" name="role" required>
                            <mat-option value="admin">Admin</mat-option>
                            <mat-option value="user">User</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input [(ngModel)]="user.firstName" name="firstName" matInput type="text"
                            placeholder="Enter your first name" required>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input [(ngModel)]="user.lastName" name="lastName" matInput type="text"
                            placeholder="Enter your last name" required>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="user.email" name="email" matInput type="email"
                            placeholder="eg. test1234@gmail.com" required>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input [(ngModel)]="user.phoneNumber"
                               name="phoneNumber"
                               matInput
                               type="tel"
                               placeholder="Enter your phone number"
                               required
                               pattern="^[0-9]{10}$"
                               #phone="ngModel">
                        
                        <!-- Show error if phone is invalid -->
                        <mat-error *ngIf="phone.invalid && phone.touched">
                          Phone number must be exactly 10 digits.
                        </mat-error>
                      </mat-form-field>

                    <!-- Submit Button -->
                    <button type="submit" class="btn-custom btn-primary">Register</button>
                    <button class="btn-custom btn-secondary" (click)="clearForm(myForm,$event)">Clear</button>
                </form>
            </mat-card>

            </div>
        </div>
    </div>
</div>