h3{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    /* text-align: center; */
}

.mat-icon {
    height:20px;
    margin-right:10px;
}


.category-divider {
    margin: 10px 0; /* Adds spacing for a card-like effect */
    border-width: 1px; /* Thicker line for card feel */
    border-color: rgba(0, 0, 0, 0.1); /* Softer color */
}

.container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content:space-between;
}
.form-container {
    display: flex;
        justify-content: center; /* display center */ 
   text-align: center;
       background: #f4f4f4; /* Light background */
       margin-bottom: 30px;
}

.full-width
{
    width: 90%;
   
}


.form-container2
{
   display: flex;
    justify-content:center;
    text-align: center;
  margin-bottom: 20px;
}

.deleteMatCard
{
    display: flex;
   width: 50%;
  justify-content: center;
    text-align: center;
    align-items: center;
}
mat-card-title
{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.deleteCategoryButton{
    background-color: red !important;
    margin-bottom: 20px;
    margin-top: 20px;
}
.deleteCategoryButton:disabled {
    background-color: gray !important;
    color: white !important;
    cursor: not-allowed;
   
}